.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100px;
  padding: 20px;
  margin-top: 0;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__container {
  margin-top: 0;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal__gift input {
  margin-right: 5px;
}
.subtotal button {
  background: #f0c14b;
  border-radius: 1px;
  width: 100%;
  margin: 0 10px 10px 0;
  height: 30px;
  border: 1px solid;
  border-color: 1px solid #a88734 #9c7e31 #846a29;
  color: #111;
}
.subtotal button:hover {
  background-color: orange;
}
